.navigation {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0px 1px 3px -1px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav p {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  list-style-type: none;
  gap: 3em;
  font-size: 1.3em;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr{
    border: none;
    border-radius: 15px;
    background-color: red;
    width: 80%;
    height: 5px;

}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-login-cart Button {
  width: 135px;
  height: 45px;
  border-radius: 75px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -30px;
  border-radius: 10px;
  font-size: 15px;
  background-color: red;
  color: whitesmoke;
}




